<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/22c2f8df-f664-4a2e-9d64-1759722db92e/resourcegroups/DailyMutualFundNAVResourceGroup/providers/Microsoft.Web/sites/DailyMutualFundNAV</ResourceId>
    <ResourceGroup>DailyMutualFundNAVResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/22c2f8df-f664-4a2e-9d64-1759722db92e/resourceGroups/DailyMutualFundNAVResourceGroup/providers/Microsoft.ApiManagement/service/DailyMutualFundNAVapi/apis/DailyMutualFundNAV</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://dailymutualfundnav.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>a3998a7c-9f2a-4b72-9b8e-65284af7130d</ProjectGuid>
    <MSDeployServiceURL>dailymutualfundnav.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DailyMutualFundNAV</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$DailyMutualFundNAV</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>